@import '~css/constants.scss';

// font-face declarations of the form:
//
// @font-face {
//     font-family: 'Lato';
//     src: url('~css/fonts/Lato/Lato-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
// One for each font weight and style (italic, etc.)
// Check if you can use Google Fonts for this project before you do

html {
    background: $white;
    box-sizing: border-box;
    color: $text-primary;
    font-size: 1em;
    font-weight: $standard-font-weight;
    line-height: 1.63;
    height: 100vh;
    min-height: 100%;
}

#zmmtg-root {
    display: none;
    &.visible {
        display: block;
    }
}

body, #app, #app > div, main {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

hr {
    height: 1px;
    background: $black;
    border: none;
    max-width: 48rem;
    width: 100%;
}

button {
    border: 2px solid $black !important;
    border-radius: 1rem !important;
    padding: 0.5rem !important;
    cursor: pointer;
    &.unbutton {
        background: none;
        border: none;
        text-decoration: underline;
        padding: 0;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.accessibility-text {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.link-btn {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $text-primary;
}
